header{
    padding-bottom: 1em;
    border-radius: 0;
    background-color: rgb(46, 120, 211);

}
header ul{
    width:1000px;
    margin: auto;
    padding: 10px 0;
    text-align: right;
}

header ul li{
    display: inline-block;
    margin: 10px 10px 0;
}

header ul li a{
    cursor: pointer;
    color: white;
    text-decoration: none;
    padding: 0 10px 2px;
    border-bottom: 1.5px solid  rgb(46, 120, 211);
    transition: 1.5s all;
}

header ul li a:hover{
    border-bottom: 1.5px solid  rgb(235, 231, 231);

}