#patient_form{
    position: fixed;
    top:300px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.171);
    width:300px;
    display: block;
}

#patient_form p{
    color: rgb(255, 255, 255);
    position: absolute;
    right:20px;
    font-family: Calibri, sans-serif;
    cursor: pointer;
    background-color: red;
    border-radius: 20px;
    padding: 0px 8px 4px;
}

#patient_form p:hover{
    background-color: rgb(158, 15, 15);

}

#patient_form h3{
    text-align: center;
    margin-bottom: 1em;
}

#patient_form input{
    display: block;
    margin: 2px auto 10px;
    padding: 2px 0 10px 3px;
    width: 80%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.306);
}

#patient_form input:focus{
    outline: none;
    border-bottom: 2px solid rgba(19, 29, 218, 0.742);

}

#patient_form input[type="submit"]{
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: block;
    margin: auto;
    margin-top: 2em;
    background-color: rgb(47, 102, 232);
}